html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*start main css code*/
html, body {
	height: 100%;
}
body {
	background-image: url(images/Wallpaper3.jpg);
	background-size:  cover;
    background-repeat: no-repeat;
	background-attachment: fixed;
}
#site{
	width: 1100px;
	/*max-width: 100%;
	min-width: 805px;*/
    height: 100%;
	margin: 0px auto;
	position: relative;
}
#header{
	float: left;
	width: 100%;
	height: 130px;	
	border-radius: 0px 0px 10px 10px; 
	background-color:  rgba(255,255,255,0.3);
}
/*LOGO1*/
#header .logo {
	float: left;
	width: 194px;
}
#header .logoimg {
    width: 100px;
    height: 110px;
	max-width: 100%;
	margin: 10px 10px 10px 25px; 
}
#header .title {
    background-color:  rgba(255,255,255,0.3);
    /*width: 610px;*/
    height: 110px;
    margin: 10px auto;
   /* border-radius: 5px;*/
}
#header .title img{
	height: 100px;
	max-width: 100%;
}
#header .title p{
	color: white;
	font-family: "vodafone", sans-serif;
	font-size: 30px;
	/*font-weight: bold;*/
}
/*LOGO2*/
#header .logo2 {
	float: right;
	width: 194px;
}
#header .logoimg2 {
    width: 100px;
    height: 110px;
	max-width: 100%;
	margin: 10px 25px 10px 10px; 
}
/*content*/
#content {	
  width: 100%;
  margin: 10px 0px;
  float: left;
  background-color:  rgba(255,255,255,0.2);
/*background: linear-gradient(80deg, #1B598E, #D69EDF);*/
    background-repeat: no-repeat;
	background-attachment: fixed;
    border-radius: 10px;
    min-height: calc(100% - 280px);
}

#content #menu3{
	float: left;
	margin-left: 1%;
	margin-top:  1%;
	width: 200px;
}
#content #menu3 ul li,#content #menu4 ul li{    
	position: relative;
}
#content #menu3 ul li a,#content #menu4 ul li a{
	color: #fff;
	padding: 0px 7px;
	height: 29px;
	line-height: 29px;
    text-align:  center;
	display: block;
	border-radius: 5px;
	background-color:  rgba(28,22,22,0.7);
	text-decoration: none;
	font-family: "vodafone", sans-serif;
	font-size: 15.5px;
	margin: 0px 5px 5px 5px;
}
#content #menu3 ul li a:hover,#content #menu4 ul li a:hover{
	background-color:  rgba(255,255,255,0.5);
	color: black;
}
#menu3 .drop3{
	left: 100%;
}
#menu3 .drop3,#menu4 .drop4{
	position: absolute;
    z-index: 2;
    top:  -2px;
    width: 290px;
    display: none;
    background-color:  rgba(255,255,255,0.3);
    border-radius: 6px;
    padding: 8px 3px 5px 3px;
}
#menu3 li:hover .drop3,#menu4 li:hover .drop4{
	display: block;
}
#content #menu3  .drop3 a:hover,#content #menu4  .drop4 a:hover{
	background-color: rgba(255,255,255,1);
}
#content #menu4{
	float: right;
	margin-right: 1%;
	margin-top: 1%;
	width: 200px;
}
#menu4 .drop4{
	right:  100%;
}
.ex{
    	 border-radius: 2px;
    	 background-color:  rgba(255,255,255,0.7);
    	 padding: 0.5px 10px;
    	 color: black;
    	 font-size: 17px;
       }
#wrapper{
	width: 600px;
    padding: 20px 30px;   
    margin: 1% auto;
    color: #fff;
    border-radius: 5px;
    background-color:  rgba(28,22,22,0.7);
    font-family: "vodafone", sans-serif;
    font-size: 18px;
    /*background: linear-gradient(80deg, #1B598E, #D69EDF);*/

}
#wrapper p{
	text-indent: 30px;
    text-align: justify;
    line-height: 20px;
}
#wrapper h1{
	font-size: 22px;
	font-weight: bold;
}
#wrapper h2 {
	text-indent: 30px;
    font-size: 19px;
    font-weight: bold;
    margin: 5px;
}
#wrapper h3 {
    font-weight: bold;
    font-size: 17px;
    text-indent: 30px;
}
#wrapper .poster img{
	width: 400px;
	height: 500px;
	border-radius: 5px;
	margin-top: 10px;
	margin-bottom: 10px;	
}
/*#wrapper .rysunokn{
	line-height: 20px;
}*/
#wrapper img {
	margin-top: 20px;
	margin-bottom: 10px;
	max-width: 500px;
}
/*Стилі для аналізу тз*/
#wrapper  ul {
	margin-left: 30px;
	line-height: 20px;
	list-style-type: decimal;
	list-style-position: inside;
}
/*#wrapper .blockshema{
	width: 500px;
	height: 500px;
	border-radius: 5px;
}*/
/*#wrapper .text_on_display {
	width: 300px;
	height: 80px;
}
#wrapper .interface_of_android{
	width: 250px;
	height: 314px;
	margin-left: 30px;
}*/
/*Стилі для Елементної бази*/
/*.img_n1{
	width: 290px;
}
.img_n2{
	width: 620px;
}
.img_n3{
	width: 180px;
	height: 270px;
}
.img_n4{
	width: 300px;
	height: 125px;
	margin-left: 30px;
}
.img_n5{
	width: 170px;
}
.img_n6{
	width: 300px;
}
.img_n7{
	width: 200px;
	height: 170px;
}
.img_n8{
	width: 200px;
}
.img_n9{
    width: 200px;
    height: 150px;
}*/
/**/.download {
	color: #8C46E7;
	font-style: italic;
	text-decoration: none;
	border-bottom: 1px dashed #8C46E7;
	padding-bottom: 1px;

}
.download:hover {
	color: #8141D6;
	font-style: italic;
	text-decoration: none;
	border-bottom: 1px solid #8141D6;
	padding-bottom: 1px;

}
/*styles for forms*/
/*#wrapper form{
     width: 60%;
     margin-left: 40%;
}
#wrapper form input{
     border-radius: 5px;
     border: 1.5px solid rgba(140,70,231,0.7);
     outline: none;
     margin: 10px 0px;
     padding: 5px;
     width: 50%;
     font-size: 14px;
}
#wrapper form input:focus {
	border: 1.5px solid #6E37B6;
}
#wrapper form label {
	width: 100%;
}
#wrapper form .send{
	width: 95px;
	background-color: #8C46E7;
	margin: 2px;
	border: none;
	box-sizing: content-box;
	color: #fff;
}
#wrapper form .sign_up {
	color: #fff;
	border: none;
	width: 95px;
	background-color: #8C46E7;
	border-radius: 5px;
	text-decoration: none;
	font-size: 14px;
	margin: 2px;
	padding: 5px 16px;
}
#wrapper form .send:hover,#wrapper form .sign_up:hover{
	border: 2px solid #6E37B6;
	margin: 0px;
	background-color: #6E37B6;
}*/
/*#wrapper form #create{
    width: 150px;
    margin-left: 36.5px;
    background-color: #8C46E7;
	margin: 2px;
	margin-left: 36.5px;
	border: none;
	box-sizing: content-box;
	color: #fff;
}
#wrapper form #create:hover{
	border: 2px solid #6E37B6;
	margin: 0px;
	background-color: #6E37B6;
	margin-left: 34.5px;
}*/
/*footer*/
#footer{
	background-color:  rgba(255,255,255,0.3);
	width: 100%;
	height: 130px;
    float: left;
    border-radius: 10px 10px 0px 0px;

}
#footer #signature{
	width: 190px;
	margin: 0px auto;
	padding: 5px;
	background-color: rgba(28,22,22,0.7);
	border-radius: 5px 5px 0px 0px;
	color: #fff;
    margin-top: 77px;
    font-family: "vodafone" , sans-serif;
}
#footer #signature .hp{
	font-family: "vodafone" , sans-serif;
	padding-top: 5px;
}
#footer #signature .hp img{
	width: 16px;
	margin-top: 2px;
}
#footer #contacts{
	color: #fff;
	width: 85px;
	padding-top: 5px;
	float: left;
}
#footer #contacts h2, #other h2{
	font-family: "vodafone", sans-serif;
	font-size: 16px;
}
#footer #contacts hr,#footer #other hr{
	display: block;
	height: 0.5px;
	border: 0;
	border-top: 0.5px solid #fff; 
	background-color: #C7C7C7;
	width: 100%;
	margin-top: 5px;
    margin-bottom: 4px;
}
.logo_of_contacts {
	width: 45px;
/*	margin-left: 10px;*/
}
#footer #other{
	float: right;
	width: 85px;
	padding-top: 5px;
	color: #fff;
}
.logo_of_other {
	width: 50px;

/*	margin-left: 10px;*/
}